.agent {
    background-color: rgb(198, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.agent-card-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .mat-grid-tile {
    width: 25%;
  }
  
  .agent-card {
    height: auto;
    min-height: 350px;
    margin: 1%;
    overflow: visible;
  }



.mat-select-content {
    background-color: blueviolet;
    color: aqua;
  }

.custom-filter {
  float: right;
  margin-right: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: fit-content;
  max-width: 200px;
  color: pink;
  margin-top:20px;
}

.custom-filter-label{
  background-color: chocolate;
}

.custom-filter-select {
  background-color: blueviolet;
  background: blue;
}

.custom-mat-option {
  background-color: chartreuse;
}

.mat-mdc-text-field-wrapper {
  width: 100%;
  background-color: blue;
}

.custom-filter .mat-mdc-form-field-focus-overlay.ng-tns-c52-0.ng-star-inserted {
 background-color: fuchsia;
 color: black;
}

/*
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  color: white;
}

.mat-form-field-appearance-fill .mat-select-value {
  color: white;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  color: white;
}

.mat-select-panel {
  background-color: transparent;
}

.mat-option {
  color: white;
}
*/