.headerHome {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    max-width: 100%;
    flex-wrap: nowrap;
    height: 70px;
    box-sizing: border-box;
    text-align: left;
}

.headerHome nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.headerHome nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .headerHome nav {
        flex-wrap: wrap;
    }

    .headerHome nav a {
        width: 100%;
        text-align: center;
        /*margin-bottom: 10px;*/
        box-sizing: border-box;
    }
}

