<div class="headerHome" [style.background-color]="color">
  <div class="ligne-composant">
    <nav>
      <a href="#">Accueil</a>
      <a href="#">A propos</a>
      <a href="#">Contact</a>
    </nav>
    <div class="mat-select-header">
      <ng-container *ngIf="options.length > 0">
        <mat-form-field>
          <mat-label>Options</mat-label>
          <mat-select [(value)]="selectedOption" (selectionChange)="onSelect($event.value)">
            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
    </ng-container>
  </div>
  </div>
</div>